<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Booking home page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <style>


       body, h4 {
            font-family: 'Nunito', sans-serif;
            }


       button {
       float: right;
       margin: 0;
       }

    </style>

</head>
<body>
<div class="container my-2">
    <div>
        <p align="center"><img th:src="@{logo_alina.jpeg}" width="100" height="100">
        </p>
        <div>
            <h4  style="font-size:12px; margin-left: 1rem;"> Alina Nails &#9753;
                +37126146341 &#9753;
                alina.tolka@gmail.com
            </h4>
            <div>
                <div>
                    <div class="row p-3 gx-5">
                        <div class="col">
                            <div class="p-3 border bg-light">
                                <h5>
                                    European french gel manicure
                                    <br>
                                    <h6>
                                        Some content...
                                    </h6>
                                </h5>
                            </div>
                        </div>

                        <div class="col">
                            <div class="p-3 border bg-light">
                                <h5>
                                    European gel manicure
                                    <br>
                                    <h6>
                                        Some content....
                                    </h6>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="row p-3 gx-5">
                        <div class="col">
                            <div class="p-3 border bg-light">

                                <h5>
                                    European gel pedicure
                                    <br>
                                    <h6>
                                        Some content....
                                    </h6>
                                </h5>
                            </div>
                        </div>

                        <div class="col">
                            <div class="p-3 border bg-light">
                                <h5>
                                    European french gel pedicure
                                    <br>
                                    <h6>
                                        Some content...
                                    </h6>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="row p-3 gx-5">
                        <div class="col">
                            <div class="p-3 border bg-light">

                                <h5>
                                    Polygel nails strengthening
                                    <br>
                                    <h6>
                                        Some content....
                                    </h6>
                                </h5>
                            </div>
                        </div>

                        <div class="col">
                            <div class="p-3 border bg-light">
                                <h5>
                                    Pedicure maintenance/repair
                                    <br>
                                    <h6>
                                        Some content...
                                    </h6>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>